In [36]:
import pandas as pd
from tqdm import tqdm
import requests
import os
import json

In [ ]:
df = pd.read_csv('Data Ekspektasi Grade FOOD - Sheet1.csv')
# Convert to key-value format with splitting
keyValueClown = {
    row['ITEM']: {
        "Nova Expectation": row['Nova Expectation'],
        "NutriScore Expectation": row['NutriScore Expectation'],
        "Actual Nova": [x.strip() for x in str(row['Actual Nova']).split(',') if pd.notna(x) and x.strip().lower() != 'nan'],
        "Actual NutriScore": [x.strip() for x in str(row['Actual NutriScore']).split(',') if pd.notna(x) and x.strip().lower() != 'nan']
    }
    for _, row in df.iterrows()
}

df.head()

,ITEM,Nova Expectation,NutriScore Expectation,Actual Nova,Actual NutriScore
0,Rice with Fried Chicken and Ketchup,3,D,4,D
1,Basmati Fried Rice with Fried Chicken and Sambal,3,C,3,C
2,"Bakso with Meat Stuffed Tofu, Fried Wonton Dum...",3,C,"4, 3, 3","D, C, C"
3,Black Crust Pizza with Beef Ham Italian Sausag...,3,D,4,D
4,Chocolate Ice cream drizzled with Chocolate sauce,4,D,4,D

In [42]:
json.dump(keyValueClown, open('keyValueClown.json', 'w'), indent=4)


ITEM	Nova Expectation	NutriScore Expectation	Actual Nova	Actual NutriScore
0	Rice with Fried Chicken and Ketchup	Three	D	Four	D
1	Basmati Fried Rice with Fried Chicken and Sambal	Three	C	Three	C
2	Bakso with Meat Stuffed Tofu, Fried Wonton Dum...	Three	C	Four, Three, Three	D, C, C
3	Black Crust Pizza with Beef Ham Italian Sausag...	Three	D	Four	D
4	Chocolate Ice cream drizzled with Chocolate sauce	Four	D	Four	D

In [32]:
mapping_dict_case_insensitive = {
    'FOUR' : 4,
    'THREE' : 3,
    'TWO' : 2,
    'ONE' : 1
}

In [ ]:
def upload_image_and_get_response(file_path):
    url = 'http://localhost:5128/Analysis/Method3'
    with open(file_path, 'rb') as f:
        files = {'image': (file_path, f, 'image/jpeg')}
        response = requests.post(url, files=files)
        
        # Check if the response contains JSON data
        if 'application/json' in response.headers.get('content-type', ''):
            return response.json()
        else:
            response.raise_for_status()



def update_dataframe_with_response(image_name, response_data):
    # Remove the extension from the image name
    image_name = os.path.splitext(image_name)[0]
    nova_classification = response_data['novaClassification']
    if str(nova_classification).upper() in mapping_dict_case_insensitive:
        nova_classification = mapping_dict_case_insensitive[str(nova_classification).upper()]

    if image_name not in keyValueClown:
        keyValueClown[image_name] = {
            "Actual Nova": [],
            "Actual NutriScore": []
        }

    keyValueClown[image_name]['Actual Nova'].append(nova_classification)
    keyValueClown[image_name]['Actual NutriScore'].append(response_data['nutriGrade'])
    


def upload_images_and_update_dataframe(directory, df):
    image_files = [f for f in os.listdir(directory) if f.lower().endswith(('.png', '.jpg', '.jpeg', '.gif', '.bmp'))]
    
    for filename in tqdm(image_files, desc="Uploading Images"):
        file_path = os.path.join(directory, filename)
        response_data = upload_image_and_get_response(file_path)
        update_dataframe_with_response(filename, response_data)
        print(f"Uploaded {filename} and updated DataFrame.")
        # Export the data to a new CSV file
        df = pd.DataFrame.from_dict(keyValueClown, orient='index').reset_index()
        df.to_csv('Updated.csv', index=False)
       

# Example usage
upload_images_and_update_dataframe('images', df)

Uploading Images:   3%|▎         | 1/37 [00:21<13:02, 21.73s/it]

Uploaded Spaghetti with sliced meatballs.jpeg and updated DataFrame.

Uploading Images:   5%|▌         | 2/37 [00:55<16:39, 28.54s/it]

Uploaded Rice with Smashed Fried Chicken and Sambal.jpg and updated DataFrame.

Uploading Images:   8%|▊         | 3/37 [01:21<15:37, 27.59s/it]

Uploaded Rice with Satay and Chili Sauce.jpg and updated DataFrame.

Uploading Images:  11%|█         | 4/37 [01:44<14:09, 25.73s/it]

Uploaded Rice with Grilled Squid.jpg and updated DataFrame.

Uploading Images:  14%|█▎        | 5/37 [02:05<12:50, 24.08s/it]

Uploaded Rice with Grilled Squid(1).jpg and updated DataFrame.

Uploading Images:  16%|█▌        | 6/37 [02:40<14:17, 27.65s/it]

Uploaded Rice with Fried shrimp, Ketchup and Salad.jpg and updated DataFrame.

Uploading Images:  19%|█▉        | 7/37 [03:05<13:26, 26.89s/it]

Uploaded Rice with Fried shallots, half a lime, and half of a boiled egg and ketchup package.jpg and updated DataFrame.

Uploading Images:  22%|██▏       | 8/37 [03:28<12:26, 25.75s/it]

Uploaded Rice with Fried Tempe and Fried Chicken.jpg and updated DataFrame.

Uploading Images:  24%|██▍       | 9/37 [03:53<11:55, 25.55s/it]

Uploaded Rice with Fried Chicken and Ketchup.jpg and updated DataFrame.

Uploading Images:  27%|██▋       | 10/37 [04:16<11:08, 24.75s/it]

Uploaded Rice with Chicken Katsu Drizzled with Mayonaise and ketchup.jpg and updated DataFrame.

Uploading Images:  30%|██▉       | 11/37 [04:48<11:35, 26.73s/it]

Uploaded Rice with Chicken Fillet Drizzled in Mayonaise.jpg and updated DataFrame.

Uploading Images:  32%|███▏      | 12/37 [05:17<11:30, 27.64s/it]

Uploaded Rice with Chicken Fillet Drizzled in Chili Sauce.jpg and updated DataFrame.

Uploading Images:  35%|███▌      | 13/37 [05:46<11:11, 27.96s/it]

Uploaded Rice with Black Pepper Chicken Fillet. Salad with Mayonaise and Ketchup.jpg and updated DataFrame.

Uploading Images:  38%|███▊      | 14/37 [06:21<11:30, 30.02s/it]

Uploaded Ramen with half of a boikled egg, seaweed and fried seaweed.jpg and updated DataFrame.

Uploading Images:  41%|████      | 15/37 [06:51<11:04, 30.21s/it]

Uploaded Noodles with Minced Chicken, Sliced Chicken Katsu and Mustard Greens.jpg and updated DataFrame.

Uploading Images:  43%|████▎     | 16/37 [07:12<09:35, 27.42s/it]

Uploaded Mini Kebab and Salad Drizzled in Ketchup.jpg and updated DataFrame.

Uploading Images:  46%|████▌     | 17/37 [07:34<08:32, 25.63s/it]

Uploaded Japanese Curry with Fried Shrimp, Dumplings and Salad.jpg and updated DataFrame.

Uploading Images:  49%|████▊     | 18/37 [08:00<08:09, 25.74s/it]

Uploaded Japanese Curry with Chicken Fillet, Salad and sliced chili.jpg and updated DataFrame.

Uploading Images:  51%|█████▏    | 19/37 [08:22<07:26, 24.81s/it]

Uploaded Grilled Meatballs with Sweet Soysauce.jpg and updated DataFrame.

Uploading Images:  54%|█████▍    | 20/37 [08:52<07:28, 26.35s/it]

Uploaded Fried rice with Egg.jpg and updated DataFrame.

Uploading Images:  57%|█████▋    | 21/37 [09:17<06:55, 25.94s/it]

Uploaded Fried Rice with diced cucumbers, diced carrots.jpg and updated DataFrame.

Uploading Images:  59%|█████▉    | 22/37 [09:44<06:32, 26.14s/it]

Uploaded Fried Rice with Omelette and sliced cucumber.jpg and updated DataFrame.

Uploading Images:  62%|██████▏   | 23/37 [10:08<05:55, 25.39s/it]

Uploaded Fried Rice with Meatballs, sliced carrots, sliced cucumber, and shrimp chips package.jpg and updated DataFrame.

Uploading Images:  65%|██████▍   | 24/37 [10:32<05:24, 24.97s/it]

Uploaded Fried Rice with Fried Egg and Sliced Cucumbers.jpg and updated DataFrame.

In [13]:
# Function to calculate accuracy for NutriScore
def calculate_accuracy_for_nutriscore(expectation, actual):
    # Convert actual to a list if it's a string with commas
    if isinstance(actual, str) and ',' in actual:
        actual = actual.split(', ')
    else:
        actual = [actual]
    
    # Mapping NutriScore letters to numbers
    score_mapping = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}
    
    scores = []
    
    for act in actual:
        if expectation == act:
            scores.append(1.0)
        else:
            if expectation not in score_mapping or act not in score_mapping:
                continue
            exp_num = score_mapping[expectation]
            act_num = score_mapping.get(act, 0)  # Default to 0 if not found
            absolute_difference = abs(exp_num - act_num)
            scores.append(1 - (absolute_difference / 4))
    if len(scores) == 0:
        return None
    return sum(scores) / len(scores)

# Apply the function to calculate NutriScore accuracy
df['NutriScore Accuracy'] = df.apply(lambda row: calculate_accuracy_for_nutriscore(row['NutriScore Expectation'], row['Actual NutriScore']), axis=1)
df.head()

,ITEM,Nova Expectation,NutriScore Expectation,Actual Nova,Actual NutriScore,NutriScore Accuracy
0,Rice with Fried Chicken and Ketchup,3,D,4,D,1.000000
1,Basmati Fried Rice with Fried Chicken and Sambal,3,C,3,C,1.000000
2,"Bakso with Meat Stuffed Tofu, Fried Wonton Dum...",3,C,"4, 3, 3","D, C, C",0.916667
3,Black Crust Pizza with Beef Ham Italian Sausag...,3,D,4,D,1.000000
4,Chocolate Ice cream drizzled with Chocolate sauce,4,D,4,D,1.000000

In [14]:
# Function to calculate accuracy
def calculate_accuracy_for_nova(expectation, actual):
    if isinstance(actual, str) and ',' in actual:
        actual = actual.split(', ')
    else:
        actual = [actual]
    
    
    
    scores = []
    
    for act in actual:

        if act == 'nan' or act != act:
            return None
        if expectation == act:
            scores.append(1.0)
        else:
            act = int(act)
            expectation = int(expectation)
            absolute_difference = abs(act - expectation)
            scores.append(1 - (absolute_difference / 3))
    
    return sum(scores) / len(scores) 

# Apply the function to calculate accuracy
df['NOVA Accuracy'] = df.apply(lambda row: calculate_accuracy_for_nova(row['Nova Expectation'], row['Actual Nova']), axis=1)
df.head()

,ITEM,Nova Expectation,NutriScore Expectation,Actual Nova,Actual NutriScore,NutriScore Accuracy,NOVA Accuracy
0,Rice with Fried Chicken and Ketchup,3,D,4,D,1.000000,0.666667
1,Basmati Fried Rice with Fried Chicken and Sambal,3,C,3,C,1.000000,1.000000
2,"Bakso with Meat Stuffed Tofu, Fried Wonton Dum...",3,C,"4, 3, 3","D, C, C",0.916667,0.888889
3,Black Crust Pizza with Beef Ham Italian Sausag...,3,D,4,D,1.000000,0.666667
4,Chocolate Ice cream drizzled with Chocolate sauce,4,D,4,D,1.000000,1.000000

In [18]:
# Add row total accuracy for NutriScore
# filter Null values
nutri_score_accuracy_non_null_len = len(df[df['NutriScore Accuracy'].notnull()])
nutri_score_accuracy_sum = df['NutriScore Accuracy'].sum()
df.loc['Total', 'NutriScore Accuracy'] = nutri_score_accuracy_sum / nutri_score_accuracy_non_null_len

# Add row total accuracy for NOVA
# filter Null values
nova_accuracy_non_null_len = len(df[df['NOVA Accuracy'].notnull()])
nova_accuracy_sum = df['NOVA Accuracy'].sum()
df.loc['Total', 'NOVA Accuracy'] = nova_accuracy_sum / nova_accuracy_non_null_len 

df.head()

,ITEM,Nova Expectation,NutriScore Expectation,Actual Nova,Actual NutriScore,NutriScore Accuracy,NOVA Accuracy
0,Rice with Fried Chicken and Ketchup,3.0,D,4,D,1.000000,0.666667
1,Basmati Fried Rice with Fried Chicken and Sambal,3.0,C,3,C,1.000000,1.000000
2,"Bakso with Meat Stuffed Tofu, Fried Wonton Dum...",3.0,C,"4, 3, 3","D, C, C",0.916667,0.888889
3,Black Crust Pizza with Beef Ham Italian Sausag...,3.0,D,4,D,1.000000,0.666667
4,Chocolate Ice cream drizzled with Chocolate sauce,4.0,D,4,D,1.000000,1.000000

In [19]:
# Export the data to a new CSV file
df.to_csv('Computed.csv', index=False)